label[for="alko_id"] {
	display: block;
}

select#alko_id {
	min-width: 70ch;
}

.spinner {
	float: none;
}

#ubs-untappd-response {
	margin-top: 1em;
}

.ubs-search-results {
	margin-bottom: .5em;
}

.dashicons {
	font-size: inherit;
	vertical-align: baseline;
}

td[id^="beer-save"] .spinner {
	float: none;
	height: 1em;
	width: 1em;
	background-size: 1em;
	margin: 0;
}

#ubs-search-results button + button {
	margin-left: .3em;
}

button.ubs-associate-alko.ubs-associate-alko {
	min-width: 6em;
	vertical-align: baseline;
	margin-left: .5em;
}

p.submit {
	margin-top: 0.25rem;
}

@media screen and (max-width: 782px) {
	.ubs-search-results__style {
		display: none;
	}
}
